.menu{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu .logo a img{
    width: 80px;
    border-radius: 10px;
}
.enlaces ul,
.iconos ul{
    list-style: none;
    display: flex;
}
.enlaces ul li,
.iconos ul li{
    margin-right: 10px;
}
.enlaces ul li a,
.iconos ul li i,
.iconos ul li svg{
    text-decoration: none;
    font-size: 20px;
    color: white;
   
}
.enlaces ul li a:hover{
    border-bottom: 2px solid pink;
    color: pink;

}
.enlaces ul li a::before{
   content: "*";

}
.iconos ul li i,
.iconos ul li svg{
    background-color: pink;
    padding: 5px 6px;
    border-radius: 10px;
}
.iconos ul li i:hover,
.iconos ul li svg:hover{
    background-color: white;
    color: pink;
}
/*  imagen principal */
.principal{
    background-image: url("../imagenes/fondo.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: top;
    display: flex;
    justify-content: flex-end;
}
.principal .con-texto h1{
    color: purple;
    font-size: 50px;
    font-weight: bold;
}
.principal .con-texto p{
    font-size: 25px;
}
.principal .con-texto a{
    background-color: pink;
    color: white;
    padding: 10px 20px ;
    border-radius: 10px;
    border: 2px solid white;
   text-decoration: none; 
}
.principal .con-texto a:hover{
    background-color: white;
    color: rgb(238, 169, 180);
    border: 2px solid rgb(231, 167, 178);
}
/* descuento*/
.descuento{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

}
.descuento img{
    width: 300px;
    height: auto;
    margin: 0 10px;
}